# These are settings specific to the experiment
# A copy of this file will be copied over into the results directory

# A short tag or description.  The results folder is named ($experimentTag + $startTime)
# This should be a valid Windows folder name.  If not, who knows what will happen! (Probably an error.)
experimentTag = Toy_10k

dataset = toy
nGenerations = 10000
problem = AccuracyNRules
# Each run includes 10-fold cross validation
nRuns = 1

# Number of antecedents to use (don't care + 2 + 3 + 4 + 5.... triangles)
nAntecedents = 15

# 200 rulesets in the Pittsburgh population
nRuleSets= 200

# Start with 20 rules, maximum of 40
# nb. there is an implicit minimum of (# of consequent classes)
nRuleInitial = 20
nRuleMax = 40

# Chance of crossover - this applies to both Pittsburgh and Michigan parts, if Michigan is triggered
pCrossover = 0.9

# Chance of antecedent mutation - similarly, applies to both parts
pMutation = 0.1

# After making a heuristic rule, roll for each antecedent to be set to "don't care"
pDontCareHeuristicRule = 0.8

# Chance of triggering the Michigan part
pHybridMichigan = 0.5

# Fraction of rules to be replaced during the Michigan part
michiganFractionReplace = 0.2

# The reject strategy
rejectStrategy = STATIC

# The probability of a reject threshold being mutated - not relevant if using STATIC reject strategy
pMutationThreshold = 0.1

# The reject threshold - only relevant if using STATIC reject strategy
rejectThreshold = 0.0